# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar
*.war
*.iml

# Logs
*.log

# IDEs
.idea/
*.iws
*.ipr
*.iml
.vscode/
*.sw?

# OS files
.DS_Store
Thumbs.db

# Application properties (si querés mantenerlos fuera del repo)
application.properties
application.yml

# Render local builds
render.yaml